<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">Edit <%= @plot.title %></h2>
        </div>
    </div>
</section>
<br>

<%= render "application/errors" %>

<%= render partial: "form", locals: {plot: @plot} %>

<br>

<%= form_tag(plot_path(@plot), method: "delete") do %>
    <input type="submit" value="Delete" class="button is-danger">
<% end %>