<h1>Welcome to Worlding!</h1>
<p>Here you can share your world and character ideas, 
as well as read up on others.</p>
<br>
<br>
    <h3>Want the world with the most plots?</h3>

    <%= link_to "Click here", worlds_most_plots_path %> to view the world with the most plots.
    
<br>
<br>
<br>
<h3>
   <a href="/my-worlds"> Your Worlds! </a>
</h3>
    
    